#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store


#Ignore Node stuff
node_modules/

#Ignore production folder (this is used for pushing to gh-pages and is a duplicate of build)
production/