<!DOCTYPE html>
<html ng-app="weatherApp" lang="en" manifest="manifest.appcache">
	<head>
		<title>Clear Skies</title>
		<meta name="description" content="Clear Skies is an optimistic weather app for everyone. Use it on your phone, your laptop, or on any internet enabled device known to man. It provides accurate, up to the minute, forecasts of the current conditions in most places in the world.">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/ClearSkies.css">
		<meta name="mobile-web-app-capable" content="yes">
		<!--apple stuff-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-title" content="Clear Skies">
		<!-- iPhone SPLASHSCREEN-->
		<link href="splash/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
		<!-- iPhone (Retina) SPLASHSCREEN-->
		<link href="splash/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		<!-- iPhone 5 (Retina) SPLASHSCREEN-->
		<link href="splash/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		<!-- iPad (non-Retina) (Portrait) -->
		<link href="splash/apple-touch-startup-image-768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" rel="apple-touch-startup-image" />
		<!-- iPad (non-Retina) (Landscape) -->
		<link href="splash/apple-touch-startup-image-1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" rel="apple-touch-startup-image" />
		<!-- iPad (Retina) (Portrait) -->
		<link href="splash/apple-touch-startup-image-1536x2008.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
		<!-- iPad (Retina) (Landscape) -->
		<link href="splash/apple-touch-startup-image-2048x1496.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
		<!--icon-->
		<link rel="apple-touch-icon" sizes="57x57" href="icon/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="icon/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="icon/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="icon/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="icon/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="icon/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="icon/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="icon/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="icon/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="msapplication-TileImage" content="icon/mstile-144x144.png">
		<!--Google Analytics-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-39603531-2', 'auto');
		  ga('send', 'pageview');
		</script>
	</head>
	<body detect-device no-touch-scroll>
		<header ng-controller="Settings" ng-class="{active: searchActive}">
			<div class="top-bar">
				<button type="button" class="refresh side-btn" refresh ng-click="$event.preventDefault();">
					<i class="icon-reload"></i>
					<span>Refresh</span>
				</button><!--
				remove space (this is here for non minfied dev purposes only)
				--><button type="button" ng-click="searchActive = !searchActive; $event.preventDefault();" class="search-btn main-btn">
					<span>{{settings.currentLocation}}</span>
					<i class="icon-search"></i>
				</button><!--
				remove space (this is here for non minfied dev purposes only)
				--><button type="button" class="toggle-settings side-btn" ng-click="settingsModal = true; $event.preventDefault();">
					<span>Settings</span>
					<i class="icon-cog"></i>
				</button>
			</div>
			<div class="location-search">
				<form ng-submit="addLocation();">
					<input type="text" ng-model="newLocation" placeholder="Enter a location" focus="searchActive" blur="!searchActive" required>
				</form>
				<ul>
					<li class="actual-location" ng-click="setCurrent('Current Location'); searchActive = !searchActive;" ng-class="{current: settings.currentLocation == 'current'}"><i class="icon-location"></i> Your Location</li>
					<li ng-repeat="location in settings.locations | orderBy:'-added' | limitTo:25 | filter:newLocation" class="location" ng-click="setCurrent(location);">{{location.value}}</li>
				</ul>
			</div>
			<div class="modal" ng-class="{show: settingsModal}" no-bounce>
				<div class="modal-content">
					<header>
						<h2>Clear Skies</h2>
						<button type="button" class="close" ng-click="settingsModal = false; $event.preventDefault();"><i class="icon-cross"></i></button>
					</header>
					<div class="modal-body">
						<h3>Units</h3>
						<ul class="row units middle">
							<li ng-repeat="unit in settings.unit.options" class="col col-{{settings.unit.options.length}}-1">
								<button type="button" ng-click="settings.unit.current = unit; $event.preventDefault();" ng-class="{selected: settings.unit.current == unit}">
									<i class="climacon" ng-class="{farenheit: unit == 'us', celcius: unit == 'si'}" ng-hide="unit == 'auto'"></i>
									<strong ng-show="unit == 'auto'">Auto</strong>
								</button>
							</li>
						</ul>
						<h3>About</h3>
						<p>Clear Skies is a weather app designed to be used on every device with a web browser. Enter your location (or use your GPS location) to get the current conditions and a 5-day forecast.</p>
						<p>
							Do you like Clear Skies? Please consider <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=Z44KLV4JMKQCQ&lc=US&item_name=Clear%20Skies%20by%20Bradley%20Rosenfeld&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank">donating</a> to help me pay for API usage.
						</p>
						<h3>Credits</h3>
						<p>
							<a href="https://darksky.net/poweredby/" target="_blank">Powered by Dark Sky</a>,
							<a href="https://developers.google.com/maps/documentation/geocoding/" target="_blank">Google Geocoding API</a>,
							<a href="http://adamwhitcroft.com/climacons/" target="_blank">Climacons</a>,
							<a href="http://colebemis.com/feather/" target="_blank">Feather Icons</a>
						</p>
						<h4>Privacy</h4>
						<p class="small">Clear Skies does not store your data. All settings are saved locally. Your location is only collected with your permission and it is passed directly to the Forecast.io service. We use the Google Geocoding API to convert text addresses into geographic coordinates. We also use Google Analytics to track usage of the app. Information collected is anonymous and we do not transmit personally identifying information to Google or ourselves. If you have any questions, don't hesitate to <a href="mailto:thatguy@bradleyrosenfeld.com">contact us</a>.</p>
					</div>
					<footer>
						<hr>
						<button type="button" ng-click="restore()" class="reset pull-right">Reset App</button>
					</footer>
				</div>
				<div class="background-close" ng-click="settingsModal = false;"></div>
			</div>
		</header>
		<div ng-controller="WeatherCtrl" ng-class="{loading: weather.loading}" class="main" no-bounce>
			<div ng-controller="Current" class="wrap current-weather">
				<div class="row middle">
					<div class="col col-3-1 col-sm-2-1 center">
						<i class="current-icon climacon {{weather.current | icon}}"></i>
					</div><!--
					remove space (this is here for non minfied dev purposes only)
					--><h2 class="temperature col col-3-1 col-sm-2-1 center">
						{{weather.current.temperature | number:0}}&deg;
					</h2><!--
					remove space (this is here for non minfied dev purposes only)
					--><ul class="col col-3-1 data-summary break-sm">
						<li class="col-sm col-sm-2-1">
							<i class="climacon small sunglasses"></i>
							Feels like {{weather.current.apparentTemperature | number:0}}&deg;
						</li>
						<li class="col-sm col-sm-2-1">
							<i class="climacon small thermometer medium-high"></i>
							{{predicted.temperatureMin | number:0}}&deg;&mdash;{{predicted.temperatureMax | number:0}}&deg;
						</li>
						<li class="col-sm col-sm-2-1">
							<i class="climacon small umbrella"></i>
							{{weather.current.precipProbability*100 | number: 0 }}% chance of rain
						</li>
						<li class="col-sm col-sm-2-1">
							<i class="climacon small compass north" style="-webkit-transform: rotate({{weather.current.windBearing}}deg); transform: rotate({{weather.current.windBearing}}deg)"></i>
							{{weather.current.windSpeed | number: 1}}{{units[weather.data.flags.units].speed}} wind from the {{ weather.current.windBearing | cardinalDirection }}
						</li>
					</ul>
				</div>
				<p class="minutely-status center"><i class="small climacon {{rainStatusData | icon}}"></i> {{rainStatus}}</p>
			</div>
			<div class="wrap upcoming-weather">
				<ul class="row">
					<li ng-repeat="conditions in weather.upcoming.data | slice:1:6" class="col col-5-1">
						<p><strong>{{conditions.time | formatTime:"ddd" }}</strong></p>
						<i class="upcoming-icon climacon {{conditions | icon}}"></i>
						<h4>{{conditions.temperatureMax | number: 0}}&deg;</h4>
					</li>
				</ul>
			</div>
		</div>
		<div ng-controller="Message" class="modal" ng-class="{show: show}" no-bounce>
			<div class="modal-content" no-bounce>
				<header>
					<h2>{{messageTitle}}</h2>
					<button type="button" class="close" ng-click="show = false; $event.preventDefault();"><i class="icon-cross"></i></button>
				</header>
				<div class="modal-body">
					<p>{{messageText}}</p>
				</div>
			</div>
			<div class="background-close" ng-click="show = false;"></div>
		</div>
		<!-- load scripts -->
		<script src="js/dependencies.js"></script>
		<script src="js/ClearSkies.js"></script>
	</body>
</html>
