<!DOCTYPE html>
<html ng-app="weatherApp">
	<head>
		<title>Clear Skies</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="css/ClearSkies.css">
		<meta name="mobile-web-app-capable" content="yes">
		<!--apple stuff-->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-title" content="Clear Skies">
		<!-- iPhone SPLASHSCREEN-->
		<link href="splash/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
		<!-- iPhone (Retina) SPLASHSCREEN-->
		<link href="splash/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (device-height: 460px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		<!-- iPhone 5 (Retina) SPLASHSCREEN-->
		<link href="splash/apple-touch-startup-image-640x1096.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
		<!-- iPad (non-Retina) (Portrait) -->
		<link href="splash/apple-touch-startup-image-768x1004.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" rel="apple-touch-startup-image" />
		<!-- iPad (non-Retina) (Landscape) -->
		<link href="splash/apple-touch-startup-image-1024x748.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" rel="apple-touch-startup-image" />
		<!-- iPad (Retina) (Portrait) -->
		<link href="splash/apple-touch-startup-image-1536x2008.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
		<!-- iPad (Retina) (Landscape) -->
		<link href="splash/apple-touch-startup-image-2048x1496.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
		<!--icon-->
		<link rel="apple-touch-icon" sizes="57x57" href="icon/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="icon/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="icon/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="icon/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="icon/apple-touch-icon-152x152.png">
		<link rel="icon" type="image/png" href="icon/favicon-196x196.png" sizes="196x196">
		<link rel="icon" type="image/png" href="icon/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="icon/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="icon/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#2d89ef">
		<meta name="msapplication-TileImage" content="icon/mstile-144x144.png">
	</head>
	<body detect-device no-touch-scroll>
		<header ng-controller="Settings" ng-class="{active: searchActive}">
			<div class="top-bar">
				<button class="refresh side-btn" refresh ng-click="$event.preventDefault();"><i class="icon-reload"></i><span>Refresh</span></button>
				<button ng-click="searchActive = !searchActive; $event.preventDefault();" class="search-btn main-btn"><span>{{settings.currentLocation}}</span><i class="icon-search"></i></button>
				<button class="toggle-settings side-btn" ng-click="settingsModal = true; $event.preventDefault();"><span>Settings</span><i class="icon-cog"></i></button>
			</div>
			<div class="location-search">
				<form ng-submit="addLocation();">
					<input type="text" ng-model="newLocation" placeholder="Enter a location" focus="searchActive" blur="!searchActive">
				</form>
				<ul>
					<li class="actual-location" ng-click="setCurrent('Current Location'); searchActive = !searchActive;" ng-class="{current: settings.currentLocation == 'current'}"><i class="icon-location"></i> Your Location</li>
					<li ng-repeat="location in settings.locations | orderBy:'-added' | limitTo:25 | filter:newLocation" class="location" ng-click="setCurrent(location);">{{location.value}}</li>
				</ul>
			</div>
			<div class="modal" ng-class="{show: settingsModal}">
				<div class="modal-content" no-bounce>
					<header>
						<h2>Settings</h2>
						<button class="close" ng-click="settingsModal = false; $event.preventDefault();"><i class="icon-cross"></i></button>
					</header>
					<div class="modal-body">
						<p>Units: <select ng-model="settings.unit.current" ng-options="unit for unit in settings.unit.options" ng-required></select></p>
						<h3>Credits</h3>
						<a href="http://forecast.io">Powered by Forecast</a>
						<a href="https://developers.google.com/maps/documentation/geocoding/">Google Geocoder API</a>
						<a href="http://adamwhitcroft.com/climacons/">Climacons</a>
						<a href="http://colebemis.com/feather/">Feather Icons</a>
					</div>
					<footer>
						<p>Do you like Clear Skies? Please consider donating to help me pay for API usage.</p>
						<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=Z44KLV4JMKQCQ&lc=US&item_name=Clear%20Skies%20by%20Bradley%20Rosenfeld&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank" class="pull-left">Donate</a>
						<button ng-click="restore()" class="reset pull-right">Reset App</button>
					</footer>
				</div>
				<div class="background-close" ng-click="settingsModal = false;"></div>
			</div>
		</header>
		<div ng-controller="WeatherCtrl" ng-class="{loading: weather.loading}" class="main" no-bounce>
			<div ng-controller="Current" class="wrap current-weather">
				<div class="row center middle">
					<div class="col col-2-1">
						<i class="current-icon climacon {{weather.current | icon}}"></i>
					</div>
					<div class="col col-2-1">
						<h2 class="temperature">{{weather.current.temperature | number:0}}&deg;</h2>
						<p>Feels like {{weather.current.apparentTemperature | number:0}}&deg; &ndash; <em>{{weather.current.humidity * 100 | number: 0}}% relative humidity</em></p>
					</div>
				</div>
				<p>{{ summary }}</p>
				<div class="row">
					<div class="col col-4-1">
						<p>{{weather.current.windSpeed}}</p>
					</div>
				</div>
			</div>
			<div ng-controller="Upcoming" class="wrap upcoming-weather">
				<h2>Upcoming</h2>
				<ul class="row">
					<li ng-repeat="conditions in weather.upcoming.data | slice:1:6" class="col col-5-1">
						<i class="upcoming-icon climacon {{conditions | icon}}"></i>
						<p><strong>{{conditions.time | formatTime:"dddd" }}</strong></p>
						<p>{{conditions.temperatureMin | number:0}}&deg; &mdash; {{conditions.temperatureMax | number: 0}}&deg;</p>
						<p>{{conditions.summary}}</p>
					</li>
				</ul>
			</div>
		</div>
		<div ng-controller="Message" class="modal" ng-class="{show: show}">
			<div class="modal-content" no-bounce>
				<header>
					<h2>{{messageTitle}}</h2>
					<button class="close" ng-click="show = false; $event.preventDefault();"><i class="icon-cross"></i></button>
				</header>
				<div class="modal-body">
					<p>{{messageText}}</p>
				</div>
			</div>
			<div class="background-close" ng-click="show = false;"></div>
		</div>
		<!-- load scripts -->
		<script src="js/dependencies.js"></script>
		<script src="js/ClearSkies.js"></script>
	</body>
</html>